@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

$primary-color: #fefeff;
$secondary-color: #2B283A;

@mixin flexColumn() {
    display: flex;
    flex-direction: column;
}

@mixin flexRow() {
    display: flex;
    align-items: center;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.3px;
    background-color: $primary-color;
    color: $secondary-color;
}

.dark-mode {
    background-color: $secondary-color;
    color: $primary-color;
}

.color-inheritance {
    background-color: inherit;
    color: inherit;
}

.container {
    @include flexColumn();
    height: 100vh;
}

.controls {
    @include flexRow();
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    padding: 2rem 1rem;
    @media (min-width: 800px) {
        justify-content: center;
        gap: 2rem;
    }
}

.scheme-options {
    @include flexColumn();
    gap: 1rem;
    @media (min-width: 800px) {
        flex-direction: row;
        gap: 2rem;
    }
}

.option-wrapper {
    @include flexColumn();
    gap: .5rem;
    @media (min-width: 800px) {
        align-items: center;
        gap: 1rem;
    }
}

.option-color, 
.option-select,
.get-scheme-btn {
    border: 1px solid;
    border-radius: 7px;
    cursor: pointer;
    &:focus,
    &:hover {
        outline: 1px solid;
    }
}

.option-color, 
.option-select {
    height: 2rem;
    width: 100%;
    letter-spacing: inherit;
}

.option-select{
    padding-left: .5rem;
}

.get-scheme-btn {
    min-height: 2rem;
    padding: .5rem;
    letter-spacing: inherit;
    box-shadow: 1px 1px 7px;
    @media (min-width: 800px) {
        align-self: stretch;
    }
    &:active {
        box-shadow: inset 1px 1px 5px;
    }
}

.additional-controls {
    @include flexColumn();
    gap: .5rem;
    align-items: center;
    & i {
        color: inherit; 
        font-size: 1rem;
        cursor: pointer;
        &:hover,
        &:focus {
            transform: scale(1.1);
        }
    }
}

.preview {
    @include flexColumn();
    height: 100%;
    font-size: .8rem;
    @media (min-width: 800px) {
        flex-direction: row;
    }
    @media (min-width: 1000px) {
        font-size: 1rem;
    }
}

.preview-color-div {
    @include flexRow();
    height: 100%;
    width: 100%;
    font-weight: 600;
    padding-left: 2rem;
    cursor: pointer;
    & p {
        margin: 0;
    }
    &:hover {
        & p {
            transform: scale(1.1);
            text-shadow: 0 0 2px;
            transition: 300ms;
        }
    }
    @media (min-width: 800px) {
        padding-left: 0;
        justify-content: center;
    }
}
