@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

$primary-color: #fefeff;
$secondary-color: #2B283A;

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.3px;
    background-color: $primary-color;
    color: $secondary-color;
}

.dark-mode {
    background-color: $secondary-color;
    color: $primary-color;
}

.color-inheritance {
    background-color: inherit;
    color: inherit;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.controls {
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    @media (min-width: 700px) {
        justify-content: center;
    }
    @media (min-width: 800px) {
        gap: 2rem;
    }
}

.scheme-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    @media (min-width: 700px) {
        flex-direction: row;
    }
    @media (min-width: 800px) {
        gap: 2rem;
    }
}

.option-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    @media (min-width: 700px) {
        align-items: center;
        gap: 1rem;
    }
}

.option-color, 
.option-select,
.get-scheme-btn {
    border: 1px solid;
    border-radius: 7px;
    cursor: pointer;
    &:focus,
    &:hover {
        outline: 1px solid;
    }
}

.option-color, 
.option-select {
    height: 2rem;
    width: 100%;
    letter-spacing: inherit;
}

.option-select{
    padding-left: .5rem;
}

.get-scheme-btn {
    min-height: 2rem;
    padding: .5rem;
    letter-spacing: inherit;
    box-shadow: 1px 1px 7px;
    @media (min-width: 700px) {
        align-self: stretch;
    }
    &:active {
        box-shadow: inset 1px 1px 5px;
    }
}

.additional-controls {
    gap: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & i {
        color: inherit; 
        font-size: 1rem;
        &:hover,
        &:focus {
            scale: 1.1  ;
        }
        &:not(:last-child) {
            cursor: pointer;
        }
    }
}

.preview {
    display: flex;
    flex-direction: column;
    height: 100%;
    & div {
        height: 100%;
        width: 100%;
        font-weight: 600;
        padding-left: 2rem;
        display: flex;
        align-items: center;
    }
    @media (min-width: 700px) {
        flex-direction: row;
        & div {
            padding-left: 0;
            justify-content: center;
        }
    }
}